{% extends "base.html" %}


{% load static %}

{% block content %}

<!-- First Photo Grid-->
<div class="w3-row-padding">
    {% for object in object_list %}
    <div class="w3-third w3-container w3-margin-bottom">
        <a href="{% url 'design:detail' object.id %}"><img src="{{ object.mini_image_title.url }}" alt="First" style="width:100%" class="w3-hover-opacity"></a>
        <div class="w3-container w3-white">
            <p><b>{{ object.name }}</b></p>
            <p>{{ object.short_description }}</p>
        </div>
    </div>
    {% endfor %}



    <!-- Images of Me -->
    <div class="w3-row-padding w3-padding-16" >
        <div class="w3-col m6">
            <img src="{% static 'images/avatar.jpg' %}" alt="Me" id="about" class="avatar_about"/>
        </div>
    </div>

    <div class="w3-container w3-padding-large">
        <h4><b>About Me</b></h4>
        <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem
            ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut
            rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
            gravida diam non fringilla.</p>
        <hr>

        <h4>Technical Skills</h4>
        <!-- Progress bars / Skills -->
        <p>Web Design</p>
        <div class="w3-progress-container w3-grey">
            <div class="w3-progressbar w3-dark-grey" style="width:95%"></div>
        </div>
        <p>Adobe Photoshop</p>
        <div class="w3-progress-container w3-grey">
            <div class="w3-progressbar w3-dark-grey" style="width:85%"></div>
        </div>
        <p>Adobe Illustrator</p>
        <div class="w3-progress-container w3-grey">
            <div class="w3-progressbar w3-dark-grey" style="width:80%"></div>
        </div>
        <p>
            <a class="w3-btn w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom" class="button" href="{% url 'design:download' %}">
                <i class="fa fa-download w3-margin-right"></i>Download Resume
        </a>
        </p>
        <hr>

    </div>
</div>
    {% endblock content %}

{% block contact_me %}
{% include 'include/message_include.html' %}
        <form method="post" action="form.asp" target="_blank" >
            {% csrf_token %}
            {% for field in form %}
            <label>{{ field.label }}</label><br>
            <div >
            <i class="field" required >{{ field }}</i><br><br>
            </div>
            {% endfor %}
            <br>
            <input type="submit" class="w3-btn w3-padding-large w3-margin-bottom button_send_message" class="button"  value="Send Message" />
        </form>
{% endblock contact_me %}

